body {
    overflow: hidden;
    padding: 0%;
    margin: 0%;
    background-image: linear-gradient(
        to right,
        hsl(355, 86%, 58%),
        hsl(118, 85%, 40%)
    );
}
.groupName{
    display: block;
    text-align: center;
    color: white;
}
/*Nav CSS*/
/* Color group buttons*/
.red {
    background-color: crimson;
}
.green {
    background-color: #4caf50;
}
.blue {
    background-color: rgb(28, 96, 224);
}


/* Dropdown Button */
.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .green {
    background-color: #3e8e41;
}
.dropdown:hover .blue {
    background-color: #1905c7;
}
.dropdown:hover .red {
    background-color: #aa0707;
}

.nav {
    height: 6vh;
    background-color: rgb(88, 87, 87);
    color: white;
}
.statisticsNav{
    position: relative;
    display: inline-block;
}
.navButton{
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    display: block;
    cursor: pointer;
}

/* Note CSS */
.button1{
    background-color: orange;
}
.button2{
    background-color: orangered;
}
.noteDiv {
    position: absolute;
    z-index: 9;
    border: 1px solid #d3d3d3;
    text-align: center;
    min-height: 5rem;
}
.noteHeader {
    padding: 1px;
    cursor: move;
    z-index: 10;
    color: #fff;
}
.noteContent {
    padding:10px;
    font-size: large;
}
.noteButtonDiv{
display: flex;
}
.noteButtons{
    color: white;
    background-color: rgb(155, 177, 164);
    cursor: pointer;
}
/* disagree button CSS */
button[type='button']:disabled {
    /* visibility: hidden; */
    color: rgb(120, 128, 123);
    cursor: default;
}
/* .noteAgree{

}
.noteShop{

}
.noteDisagree{

} */
.nextColor{
    height: 3rem;
    width: 100px;
    display: flex;
    align-items: center;
    font-size: large;
    position: absolute;
    left: 185vh;
    top: 93vh;
}


/* User Page CSS */


    div.userPage {
        height: 100vh;
        display: grid;
        grid-template-columns: 2fr 5fr;
        grid-template-rows:  1fr;
        grid-template-areas: 'copiedWords personalNotes';
    }

    div.copiedWords {
        grid-area: copiedWords;
    }

    div.personalNotes {
        grid-area: personalNotes;
    }
