body {
    padding-top: 5rem;
}

.blue {
    background-color: rgb(20, 20, 221);
}

.green {
    background-color: rgb(6, 143, 24);
}

.red {
    background-color: rgb(175, 14, 14);
}

.gray {
    background-color: rgb(124, 124, 124);
}

#info {
    text-align: center;
    font-size: 24px;
    margin-bottom: 25px;
    height: 50px;
}

/* Make the DIV element draggable */
#mydiv {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    text-align: center;
    border: 1px solid #d3d3d3;
}

#mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196f3;
    color: #fff;
}
